# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Upgrades WG
/patches/                               @neutron/patch-owners
DEPS                                    @neutron/wg-upgrades

# Releases WG
/docs/breaking-changes.md               @neutron/wg-releases
/npm/                                   @neutron/wg-releases
/script/release                         @neutron/wg-releases

# Security WG
/lib/browser/devtools.ts                @neutron/wg-security
/lib/browser/guest-view-manager.ts      @neutron/wg-security
/lib/browser/rpc-server.ts              @neutron/wg-security
/lib/renderer/security-warnings.ts      @neutron/wg-security

# Infra WG
/.github/actions/                       @neutron/wg-infra
/.github/workflows/*-publish.yml        @neutron/wg-infra
/.github/workflows/build.yml            @neutron/wg-infra
/.github/workflows/pipeline-*.yml       @neutron/wg-infra
